<div class="form-group">
  <input
    type="text"
    [(ngModel)]="query"
    class="form-control"
    [ngClass]="{'is-invalid':error.query}"
    (change)="onChangeQuery()"
    placeholder="Type to search, example: Jordan">
  <div class="invalid-feedback">Please type a query to perform a search</div>
</div>

<div class="form-group">
  <label for="entity">Please select an Entity</label>
  <select class="form-control" id="entity" [(ngModel)]="entityId" (change)="onChangeEnity()" >
    <option *ngFor="let entity of entities" [ngValue]="entity.id" >{{ entity.name | titlecase }}</option>
  </select>
</div>

<div class="form-group">
  <label for="entity">Please select a Field</label>
  <select class="form-control" id="field" [(ngModel)]="fieldName">
    <option *ngFor="let field of fields" [ngValue]="field">{{ field }}</option>
  </select>
</div>

<button
  type="submit"
  (click)="onClickSubmit()"
  class="btn btn-primary">Search</button>

<div>
  {{ searchResult | json }}
</div>
