<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Type to search">
</div>

<div class="form-group">
  <label for="entity">Please select an Entity</label>
  <select class="form-control" id="entity">
    <option *ngFor="let entity of entities" value="{{entity.id}}">{{ entity.name | titlecase }}</option>
  </select>
</div>

<div class="form-group">
  <label for="entity">Please select a Field</label>
  <select class="form-control" id="field">
    <option *ngFor="let field of fields" value="{{field}}">{{ field }}</option>
  </select>
</div>

<button
  type="submit"
  class="btn btn-primary">Search</button>
